/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}


html,body{
    height: 100%;
    margin: 0;
}

#container{
    display: flex;
    height: 100vh;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


ul{
    list-style-type: none;
}

#container{
    display: flex;
    flex-direction: column;
}

.nav, .footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: #1D546C;
    color: white;
    align-items: center;
}

.nav{
  font-weight: 500;
}

.menu-item:hover{
  transform: translateY(-2px);
}

.menu-item:active{
  transform: translateY(2px);

}

header{
    position: sticky;
    top: 0;
    height: 10vh;
}

.footer{
    justify-content: center;
    height: 10vh;
}

.main-content{
    min-height: 80vh;
    padding-top: 1rem;
    
}

.ul-nav-left{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.ul-nav-right{
    display: flex;
    gap: 2rem;
}

.logo{
    background-image: url('./assets/images/weather.png');
    width: 3rem;
    height:3rem;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    display: block;  
    background-size: 3rem;
}


/*Search Bar*/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.main-content{
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: #F4F4F4;
}

#home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.search{
  display: flex;
  width: 45vw;
  padding: 0.8rem 2rem;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 50px;
  justify-content: space-between;
  background-color: white;
}

#search{
  width: 80%;
  border: none;
  appearance: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}

#search-logo{
  width: 2rem;
}

.search:hover{
  border: 1px solid black;
}

.search-icon:hover{
  transform: translateY(-2px);
}

.search-icon:active{
  transform: translateY(2px);
}

/*Weather Display*/

.weather-display{
  background: white;
  display: flex;
  width: 100%;
  border-radius: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-direction: column;
  align-items: center;
  
  
}

.weather-display-header{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  width: 100%;
}

.weather-display-header-left{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.weather-display-header-left span{
  border-left: 2px solid lightgray;
  padding: 0rem 1rem;
}

.weather-display-header-right{
  font-weight: 600;
  font-size: 1.5rem;
}

.weather-display-header-logo{
  width: 3rem;
  
}

#middle{
  padding-right: 0.5rem;
}

/*Weather Display Main*/

.weather-display-main{
  display: flex;
  gap: 2rem;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: center;

}

.weather-display-main-hourly{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.weather-display-main-hourly img{
  width: 3rem;
}

/*Weather Display Footer*/

.weather-display-footer img{
  width: 2rem;
}

.weather-display-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  opacity: 60%;

}

.weather-display-footer-left{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.weather-display-footer-right{
  display: flex;
  gap: 1rem;
}

.icon:hover{
  transform: translateY(-2px);
}

.icon:active{
  transform: translateY(2px);

}